<div class="share-buttons">
  <p>Share this page:</p>
  <a
    class="facebook"
    href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
    target="_blank"
    aria-label="Share on Facebook"
  >
    <i class="fab fa-facebook-f"></i>
  </a>
  <a
    class="twitter"
    href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}"
    target="_blank"
    aria-label="Share on Twitter"
  >
    <i class="fab fa-twitter"></i>
  </a>
  <a
    class="linkedin"
    href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}"
    target="_blank"
    aria-label="Share on LinkedIn"
  >
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a
    class="whatsapp"
    href="https://wa.me/?text={{ .Title }}%20{{ .Permalink }}"
    target="_blank"
    aria-label="Share on WhatsApp"
  >
    <i class="fab fa-whatsapp"></i>
  </a>
  <a
    class="messenger"
    href="fb-messenger://share?link={{ .Permalink }}"
    target="_blank"
    aria-label="Share on Messenger"
  >
    <i class="fab fa-facebook-messenger"></i>
  </a>
  <a
    class="reddit"
    href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}"
    target="_blank"
    aria-label="Share on Reddit"
  >
    <i class="fab fa-reddit-alien"></i>
  </a>
  <a
    class="viber"
    href="viber://forward?text={{ .Title }}%20{{ .Permalink }}"
    target="_blank"
    aria-label="Share on Viber"
  >
    <i class="fab fa-viber"></i>
  </a>
  <a
    class="snapchat"
    href="https://snapchat.com/share?text={{ .Title }}%20{{ .Permalink }}"
    target="_blank"
    aria-label="Share on Snapchat"
  >
    <i class="fab fa-snapchat-ghost"></i>
  </a>
  <a
    class="tiktok"
    href="https://www.tiktok.com/share?url={{ .Permalink }}"
    target="_blank"
    aria-label="Share on TikTok"
  >
    <i class="fab fa-tiktok"></i>
  </a>
</div>
