<div class="share-buttons">
  <p>Share this page:</p>
  <a
    class="facebook"
    href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
    target="_blank"
    aria-label="Share on Facebook"
  >
    <i class="fa-brands fa-facebook"></i>
    <!-- Facebook icon -->
  </a>
  <a
    class="x"
    href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}"
    target="_blank"
    aria-label="Share on X (formerly Twitter)"
  >
    <i class="fa-brands fa-x-twitter"></i>
    <!-- Updated icon for X -->
  </a>
  <a
    class="linkedin"
    href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}"
    target="_blank"
    aria-label="Share on LinkedIn"
  >
    <i class="fa-brands fa-linkedin"></i>
    <!-- LinkedIn icon -->
  </a>
  <a
    class="whatsapp"
    href="https://wa.me/?text={{ .Title }}%20{{ .Permalink }}"
    target="_blank"
    aria-label="Share on WhatsApp"
  >
    <i class="fa-brands fa-whatsapp"></i>
    <!-- WhatsApp icon -->
  </a>
  <a
    class="messenger"
    href="fb-messenger://share?link={{ .Permalink }}"
    target="_blank"
    aria-label="Share on Messenger"
  >
    <i class="fa-brands fa-facebook-messenger"></i>
    <!-- Messenger icon -->
  </a>
  <a
    class="reddit"
    href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}"
    target="_blank"
    aria-label="Share on Reddit"
  >
    <i class="fa-brands fa-reddit"></i>
    <!-- Reddit icon -->
  </a>
</div>
