<!DOCTYPE html>
<html lang="{{ .Lang }}" dir="{{ or .Site.Language.LanguageDirection `ltr` }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} | {{
      .Site.Title }} {{ end }}
    </title>

    <!-- Dynamic Meta Keywords -->
    {{ if .Params.keywords }} <meta name="keywords" content="{{ delimit
    .Params.keywords " , " }}" /> {{ end }}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Google AdSense Script -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1728488366569054"
      crossorigin="anonymous"
    ></script>

    <!-- Custom JavaScript -->
    <script type="module" src="/js/search.js"></script>
    <script type="module" src="/js/results.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- Added wrapper -->
      <!-- Custom Header -->
      <header>
        <a href="/">
          <img id="logo" src="/logo.png" alt="Logo" />
        </a>
        <div class="search-container">
          <input
            type="text"
            id="search-input"
            placeholder="Enter your subject name or code"
          />
          <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
      </header>

      <!-- Main Content Area -->
      <main>
        {{ block "main" . }}{{ end }}
        <!-- This will render the content from single.html -->
        {{ partial "social-share.html" . }}
        <!-- Social share buttons are added here -->
        {{ partial "help-improve.html" . }}
      </main>

      <!-- Footer -->
      {{ partial "footer.html" . }}
      <!-- Include the footer partial here -->
    </div>
    <!-- End of wrapper -->
  </body>
</html>
