<!DOCTYPE html>
<html lang="{{ .Lang }}" dir="{{ or .Site.Language.LanguageDirection `ltr` }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} | {{
      .Site.Title }} {{ end }}
    </title>

    <!-- Dynamic Meta Keywords -->
    {{ if .Params.keywords }} <meta name="keywords" content="{{ delimit
    .Params.keywords " , " }}" /> {{ end }}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Google AdSense Script -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1728488366569054"
      crossorigin="anonymous"
    ></script>

    <!-- Custom JavaScript -->
    <script src="/js/search.js"></script>
    <script src="/js/results.js"></script>
    <!-- Load MathJax -->
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\(", "\)"],
          ],
          displayMath: [
            ["$$", "$$"],
            ["\[", "\]"],
          ],
        },
      };
    </script>
  </head>

  <body>
    <div class="wrapper">
      <!-- Added wrapper -->
      <!-- Custom Header -->
      <header>
        <a href="/index">
          <img id="logo" src="/logo.png" alt="Logo" />
        </a>
        <div class="search-container">
          <input
            type="text"
            id="search-input"
            placeholder="Enter your subject name or code"
          />
          <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
      </header>

      <!-- Main Content Area -->
      <main>{{ block "main" . }}{{ end }}</main>

      <!-- Custom Footer -->
      <footer>
        <div class="footer-row">
          <ul class="footer-links">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms</a></li>
          </ul>
        </div>
        <div class="footer-row copyright">
          <p>&copy; Notesfinity</p>
        </div>
      </footer>
    </div>
    <!-- End of wrapper -->
  </body>
</html>
