<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Notesfinity - Digital educational notes for NEB, IOE and more.
    </title>
    <meta
      name="description"
      content="Notesfinity provides fully digital high-quality educational notes covering the entire syllabus for Nepali boards (SEE, NEB, CTEVT, IOE) and universities (TU, PU, KU). Perfect for exams."
    />
    <meta
      name="keywords"
      content="notesfinity, notefinity, notesfinty.com, NEB notes, CTEVT notes, IOE notes, +2 notes, Plus two notes, 11 notes, 12 notes, bachelor notes"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="css/homepage.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Other scripts... -->
  </head>

  <body>
    <div class="wrapper">
      <main>
        <div>
          <img id="logo" src="logo.png" alt="Logo" />
        </div>
        <div class="search-container">
          <input
            type="text"
            id="search-input"
            placeholder="Enter your subject name or code"
          />
          <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
        <div>
          <a href="html/donate.html">
            <button id="donate-button" class="donate-btn">I'm Donating</button>
          </a>
        </div>
        <div class="trending">
          <h1>Trending Notes</h1>
          <ul>
            <li>
              <a href="notes/neb/english/class11/class11-english.html"
                >NEB Class 11 English</a
              >
            </li>
            <li>
              <a href="notes/neb/english/class12/class12-english.html"
                >NEB Class 12 English</a
              >
            </li>
            <li>
              <a
                href="notes/neb/computer-science/class11/class11-computer-science.html"
                >NEB Class 11 Computer Science</a
              >
            </li>
            <li>
              <a
                href="notes/neb/computer-science/class12/class12-computer-science.html"
                >NEB Class 12 Computer Science</a
              >
            </li>
          </ul>
        </div>
      </main>

      <!-- Footer section -->
      <footer>
        <div class="footer-row">
          <ul class="footer-links">
            <li><a href="html/about.html">About</a></li>
            <li><a href="html/contact.html">Contact</a></li>
            <li><a href="html/privacy.html">Privacy</a></li>
            <li><a href="html/terms.html">Terms</a></li>
          </ul>
        </div>
        <div class="footer-row copyright">
          <p>&copy; Notesfinity.com</p>
        </div>
      </footer>
    </div>
  </body>
</html>
